In [1]:
import numpy as np
import pandas as pd

In [2]:
# read csv file
file_path2 = "data_original/1976-2018-house2.csv"

# create the data frame 
house_df_original = pd.read_csv(file_path2, encoding='iso-8859-1')
house_df_original.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Bill Davenport,democrat,False,total,58906,157170,False,20200424
1,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Jack Edwards,republican,False,total,98257,157170,False,20200424
2,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,NaN,NaN,True,total,7,157170,False,20200424
3,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,J. Carole Keahey,democrat,False,total,66288,156362,False,20200424
4,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,NaN,NaN,True,total,5,156362,False,20200424

In [3]:
# Make a copy
house_df = house_df_original

# Grab data for 2016 and 2018 only
# dropping # of years we do not need
house_df = house_df[house_df.year != 1976]
house_df = house_df[house_df.year != 1978]
house_df = house_df[house_df.year != 1982]
house_df = house_df[house_df.year != 1980]
house_df = house_df[house_df.year != 1984]
house_df = house_df[house_df.year != 1986]
house_df = house_df[house_df.year != 1988]
house_df = house_df[house_df.year != 1990]
house_df = house_df[house_df.year != 1994]
house_df = house_df[house_df.year != 1992]
house_df = house_df[house_df.year != 1996]
house_df = house_df[house_df.year != 2000]
house_df = house_df[house_df.year != 1998]
house_df = house_df[house_df.year != 2002]
house_df = house_df[house_df.year != 2004]
house_df = house_df[house_df.year != 2006]
house_df = house_df[house_df.year != 2008]
house_df = house_df[house_df.year != 2010]
house_df = house_df[house_df.year != 2012]
house_df = house_df[house_df.year != 2014]
house_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
26816,2016,Alabama,AL,1,63,41,US House,1,gen,NaN,False,Bradley Byrne,republican,False,total,208083,215893,False,20200424
26817,2016,Alabama,AL,1,63,41,US House,1,gen,NaN,False,NaN,NaN,True,total,7810,215893,False,20200424
26818,2016,Alabama,AL,1,63,41,US House,2,gen,NaN,False,Nathan Mathis,democrat,False,total,112089,276584,False,20200424
26819,2016,Alabama,AL,1,63,41,US House,2,gen,NaN,False,NaN,NaN,True,total,29609,276584,False,20200424
26820,2016,Alabama,AL,1,63,41,US House,2,gen,NaN,False,Martha Roby,republican,False,total,134886,276584,False,20200424

In [4]:
# Drop the columns that we don't need
house_df = house_df.drop(columns=["state_fips", "state_cen", "state_ic", "office", "stage", "runoff", "writein",
                                  "mode", "unofficial", "version"])
house_df.head()

,year,state,state_po,district,special,candidate,party,candidatevotes,totalvotes
26816,2016,Alabama,AL,1,False,Bradley Byrne,republican,208083,215893
26817,2016,Alabama,AL,1,False,NaN,NaN,7810,215893
26818,2016,Alabama,AL,2,False,Nathan Mathis,democrat,112089,276584
26819,2016,Alabama,AL,2,False,NaN,NaN,29609,276584
26820,2016,Alabama,AL,2,False,Martha Roby,republican,134886,276584

In [5]:
#renaming columns
house_df = house_df.rename(columns={"state_po": "state_abbreviation", "district": "district_number",
                                    "special": "special_election", "candidatevotes": "candidate_votes", 
                                    "totalvotes": "total_votes"})
house_df.head()

,year,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes
26816,2016,Alabama,AL,1,False,Bradley Byrne,republican,208083,215893
26817,2016,Alabama,AL,1,False,NaN,NaN,7810,215893
26818,2016,Alabama,AL,2,False,Nathan Mathis,democrat,112089,276584
26819,2016,Alabama,AL,2,False,NaN,NaN,29609,276584
26820,2016,Alabama,AL,2,False,Martha Roby,republican,134886,276584

In [6]:
# Create new column with unique identifier for state-district
house_df["congressional_district"] = house_df["state_abbreviation"] + "-" + (house_df["district_number"]).astype("str")
house_df.head()

,year,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,congressional_district
26816,2016,Alabama,AL,1,False,Bradley Byrne,republican,208083,215893,AL-1
26817,2016,Alabama,AL,1,False,NaN,NaN,7810,215893,AL-1
26818,2016,Alabama,AL,2,False,Nathan Mathis,democrat,112089,276584,AL-2
26819,2016,Alabama,AL,2,False,NaN,NaN,29609,276584,AL-2
26820,2016,Alabama,AL,2,False,Martha Roby,republican,134886,276584,AL-2

In [7]:
# Create a new column with the % of the vote that the candidate received
house_df["candidate_percent"] = house_df["candidate_votes"] / house_df["total_votes"]
house_df.head()

,year,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,congressional_district,candidate_percent
26816,2016,Alabama,AL,1,False,Bradley Byrne,republican,208083,215893,AL-1,0.963825
26817,2016,Alabama,AL,1,False,NaN,NaN,7810,215893,AL-1,0.036175
26818,2016,Alabama,AL,2,False,Nathan Mathis,democrat,112089,276584,AL-2,0.405262
26819,2016,Alabama,AL,2,False,NaN,NaN,29609,276584,AL-2,0.107052
26820,2016,Alabama,AL,2,False,Martha Roby,republican,134886,276584,AL-2,0.487685

In [9]:
# Change all parties other than democrat and republican to "other"
house_df.loc[(house_df["party"] != "republican") & (house_df["party"] != "democrat"), "party"] = "other"
house_df.loc[house_df["party"] == "other"]

,year,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,congressional_district,candidate_percent
26817,2016,Alabama,AL,1,False,NaN,other,7810,215893,AL-1,0.036175
26819,2016,Alabama,AL,2,False,NaN,other,29609,276584,AL-2,0.107052
26821,2016,Alabama,AL,3,False,NaN,other,391,287104,AL-3,0.001362
26824,2016,Alabama,AL,4,False,NaN,other,3519,239444,AL-4,0.014697
26828,2016,Alabama,AL,5,False,NaN,other,445,308326,AL-5,0.001443
...,...,...,...,...,...,...,...,...,...,...,...
29627,2018,Maryland,MD,6,False,NaN,other,172,276974,MD-6,0.000621
29628,2018,Maryland,MD,7,False,David R. Griggs,other,5827,264710,MD-7,0.022013
29631,2018,Maryland,MD,7,False,NaN,other,272,264710,MD-7,0.001028
29633,2018,Maryland,MD,8,False,Jasen Wunder,other,4853,319330,MD-8,0.015197
29635,2018,Maryland,MD,8,False,NaN,other,273,319330,MD-8,0.000855

In [10]:
# Reorder columns
house_df = house_df[["year", "congressional_district", "state", "state_abbreviation", "district_number", "special_election",
                                 "candidate", "party", "candidate_votes", "total_votes", "candidate_percent"]]
house_df.head()

,year,congressional_district,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,candidate_percent
26816,2016,AL-1,Alabama,AL,1,False,Bradley Byrne,republican,208083,215893,0.963825
26817,2016,AL-1,Alabama,AL,1,False,NaN,other,7810,215893,0.036175
26818,2016,AL-2,Alabama,AL,2,False,Nathan Mathis,democrat,112089,276584,0.405262
26819,2016,AL-2,Alabama,AL,2,False,NaN,other,29609,276584,0.107052
26820,2016,AL-2,Alabama,AL,2,False,Martha Roby,republican,134886,276584,0.487685

In [11]:
# Export the cleaned data tocsv
house_df.to_csv("data_clean/house_clean.csv", index=False)