In [1]:
import pandas as pd
import numpy as np

In [2]:
senate_file = "data_original/senate_overall_2018.csv"
senate_df_original = pd.read_csv(senate_file)
senate_df_original.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Martha McSally,republican,False,total,1135200,2384308,False,20190110
1,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Kyrsten Sinema,democrat,False,total,1191100,2384308,False,20190110
2,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Angela Green,green,False,total,57442,2384308,False,20190110
3,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,NaN,NaN,True,total,566,2384308,False,20190110
4,2018,California,CA,6,93,71,US Senate,statewide,gen,False,Dianne Feinstein,democrat,False,total,6019422,11113364,False,20190110

In [6]:
# Make a copy 
senate_df = senate_df_original
senate_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Martha McSally,republican,False,total,1135200,2384308,False,20190110
1,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Kyrsten Sinema,democrat,False,total,1191100,2384308,False,20190110
2,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Angela Green,green,False,total,57442,2384308,False,20190110
3,2018,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,NaN,NaN,True,total,566,2384308,False,20190110
4,2018,California,CA,6,93,71,US Senate,statewide,gen,False,Dianne Feinstein,democrat,False,total,6019422,11113364,False,20190110

In [7]:
# Drop the columns that we don't need
senate_df = senate_df.drop(columns=["year", "state_fips", "state_cen", "state_ic", "office", "district", "stage", "special", "writein",
                                  "mode", "unofficial", "version"])
senate_df.head()

,state,state_po,candidate,party,candidatevotes,totalvotes
0,Arizona,AZ,Martha McSally,republican,1135200,2384308
1,Arizona,AZ,Kyrsten Sinema,democrat,1191100,2384308
2,Arizona,AZ,Angela Green,green,57442,2384308
3,Arizona,AZ,NaN,NaN,566,2384308
4,California,CA,Dianne Feinstein,democrat,6019422,11113364

In [9]:
# Rename columns
senate_df = senate_df.rename(columns={"state": "State", "state_po": "State Abbreviation",
                                    "candidate": "Candidate", "party": "Party",
                                    "candidatevotes": "Candidate Votes",
                                    "totalvotes": "Total Votes"
                                   })
senate_df.head()

,State,State Abbreviation,Candidate,Party,Candidate Votes,Total Votes
0,Arizona,AZ,Martha McSally,republican,1135200,2384308
1,Arizona,AZ,Kyrsten Sinema,democrat,1191100,2384308
2,Arizona,AZ,Angela Green,green,57442,2384308
3,Arizona,AZ,NaN,NaN,566,2384308
4,California,CA,Dianne Feinstein,democrat,6019422,11113364

In [11]:
# Create a new column with the % of the vote that the candidate received
senate_df["Candidate Percent"] = senate_df["Candidate Votes"] / senate_df["Total Votes"]
senate_df.head()

,State,State Abbreviation,Candidate,Party,Candidate Votes,Total Votes,Candidate Percent
0,Arizona,AZ,Martha McSally,republican,1135200,2384308,0.476113
1,Arizona,AZ,Kyrsten Sinema,democrat,1191100,2384308,0.499558
2,Arizona,AZ,Angela Green,green,57442,2384308,0.024092
3,Arizona,AZ,NaN,NaN,566,2384308,0.000237
4,California,CA,Dianne Feinstein,democrat,6019422,11113364,0.541638

In [23]:
# Change all parties other than democrat and republican to "other"
senate_df.loc[(senate_df["Party"] != "republican") & (senate_df["Party"] != "democrat"), "Party"] = "other"
senate_df.loc[senate_df["Party"] == "other"]

,State,State Abbreviation,Candidate,Party,Candidate Votes,Total Votes,Candidate Percent
2,Arizona,AZ,Angela Green,other,57442,2384308,0.024092
3,Arizona,AZ,NaN,other,566,2384308,0.000237
8,Connecticut,CT,Christopher S Murphy,other,37894,1386840,0.027324
9,Connecticut,CT,Richard Lion,other,8838,1386840,0.006373
10,Connecticut,CT,Jeff Russell,other,6618,1386840,0.004772
...,...,...,...,...,...,...,...
139,Virginia,VA,NaN,other,5125,3351373,0.001529
144,West Virginia,WV,Rusty Hollen,other,24231,582911,0.041569
147,Wisconsin,WI,NaN,other,42,2657841,0.000016
150,Wyoming,WY,Joseph Porambo,other,5658,203420,0.027814
151,Wyoming,WY,NaN,other,325,203420,0.001598

In [24]:
# Create a new DataFrame looking at Republican candidates only
republican_df = senate_df.loc[senate_df["Party"] == "republican"]
republican_df = republican_df.rename(columns={"Candidate": "Republican Candidate", 
                                              "Candidate Votes": "Republican Votes",
                                              "Candidate Percent": "Republican Percent"})
republican_df = republican_df.drop(columns="Party")
republican_df.head()

,State,State Abbreviation,Republican Candidate,Republican Votes,Total Votes,Republican Percent
0,Arizona,AZ,Martha McSally,1135200,2384308,0.476113
7,Connecticut,CT,Matthew Corey,545717,1386840,0.393497
13,Delaware,DE,Robert B Arlett,137127,362592,0.378185
16,Florida,FL,Rick Scott,4099505,8190005,0.500550
20,Hawaii,HI,Ron Curtis,112035,388351,0.288489

In [13]:
# Create a new DataFrame looking at Democrat candidates only
democrat_df = senate_df.loc[senate_df["Party"] == "democrat"]
democrat_df = democrat_df.rename(columns={"Candidate": "Democrat Candidate", 
                                          "Candidate Votes": "Democrat Votes",
                                          "Candidate Percent": "Democrat Percent"})
democrat_df = democrat_df.drop(columns="Party")
democrat_df.head()

,State,State Abbreviation,Democrat Candidate,Democrat Votes,Total Votes,Democrat Percent
1,Arizona,AZ,Kyrsten Sinema,1191100,2384308,0.499558
4,California,CA,Dianne Feinstein,6019422,11113364,0.541638
5,California,CA,Kevin De Leon,5093942,11113364,0.458362
6,Connecticut,CT,Christopher S Murphy,787685,1386840,0.567971
12,Delaware,DE,Thomas R Carper,217385,362592,0.599531

In [ ]:
other_df[""]

In [26]:
# Create a new DataFrame looking at Other candidates only
other_df = senate_df.loc[senate_df["Party"] == "other"]

# Group results by state (since each state can have more than one "other" candidate)
other_grouped_df = other_df.groupby("State")
other_votes = other_grouped_df["Candidate Votes"].sum()
other_percent = other_votes / other_grouped_df[]

State
Arizona            58008
Connecticut        53438
Delaware            8080
Florida             1028
Indiana           101012
Maine             344639
Maryland          111258
Massachusetts      94509
Michigan           83975
Minnesota        3148021
Mississippi        19029
Missouri           74427
Montana            14545
Nebraska           25815
Nevada             40859
New Jersey        100301
New Mexico        107201
New York          569223
North Dakota      146418
Ohio                1012
Pennsylvania       82115
Rhode Island         840
Tennessee          30807
Texas              65470
Utah               69089
Vermont           197961
Virginia           66690
West Virginia      24231
Wisconsin             42
Wyoming             5983
Name: Candidate Votes, dtype: int64

In [12]:
# Create a new DataFrame looking at Other candidates only

other_df = house_df.loc[house_df["Party"] == "other"]
#other_df = other_df.rename(columns={"Candidate": "Other Candidate", 
#                                    "Candidate Votes": "Other Votes",
#                                    "Candidate Percent": "Other Percent"})
#other_df = other_df.drop(columns="Party")
#other_df.head()

IndentationError: unexpected indent (<ipython-input-12-e098c1323fb2>, line 6)

In [17]:
# Merge the DataFrames

# Start with Republican + Democrat DataFrames and clean up columns
senate_party_df = pd.merge(republican_df, democrat_df, on="State")
senate_party_df = senate_party_df.rename(columns={"State Abbreviation_x": "State Abbreviation", "Total Votes_x": "Total Votes"})
senate_party_df = senate_party_df.drop(columns=["State Abbreviation_y", "Total Votes_y"])


# DISCUSS WITH GROUP - EXCLUDE OTHER???
# Add Other DataFrame to merged DataFrame and clean up columns
#house_party_df = pd.merge(house_party_df, other_df, on="Congressional District")
#house_party_df = house_party_df.rename(columns={"State_x": "State", "District Number_x": "District Number", 
#                                                "Total Votes_x": "Total Votes"})
#house_party_df = house_party_df.drop(columns=["State_y", "District Number_y", "Total Votes_y"])

senate_party_df.head()

,State,State Abbreviation,Republican Candidate,Republican Votes,Total Votes,Republican Percent,Democrat Candidate,Democrat Votes,Democrat Percent
0,Arizona,AZ,Martha McSally,1135200,2384308,0.476113,Kyrsten Sinema,1191100,0.499558
1,Connecticut,CT,Matthew Corey,545717,1386840,0.393497,Christopher S Murphy,787685,0.567971
2,Delaware,DE,Robert B Arlett,137127,362592,0.378185,Thomas R Carper,217385,0.599531
3,Florida,FL,Rick Scott,4099505,8190005,0.500550,Bill Nelson,4089472,0.499325
4,Hawaii,HI,Ron Curtis,112035,388351,0.288489,Mazie K. Hirono,276316,0.711511

In [18]:
# Create a column showing the winner

# If Republicans won the most votes, winner = "republican"
senate_party_df.loc[(senate_party_df["Republican Votes"] > senate_party_df["Democrat Votes"]), "Winner"] = "republican"

# If Democrats won the most votes, winner = "democrat"
senate_party_df.loc[(senate_party_df["Democrat Votes"] > senate_party_df["Republican Votes"]), "Winner"] = "democrat"

senate_party_df.head()

,State,State Abbreviation,Republican Candidate,Republican Votes,Total Votes,Republican Percent,Democrat Candidate,Democrat Votes,Democrat Percent,Winner
0,Arizona,AZ,Martha McSally,1135200,2384308,0.476113,Kyrsten Sinema,1191100,0.499558,democrat
1,Connecticut,CT,Matthew Corey,545717,1386840,0.393497,Christopher S Murphy,787685,0.567971,democrat
2,Delaware,DE,Robert B Arlett,137127,362592,0.378185,Thomas R Carper,217385,0.599531,democrat
3,Florida,FL,Rick Scott,4099505,8190005,0.500550,Bill Nelson,4089472,0.499325,republican
4,Hawaii,HI,Ron Curtis,112035,388351,0.288489,Mazie K. Hirono,276316,0.711511,democrat

In [20]:
# Reorder columns
senate_party_df = senate_party_df[["State", "State Abbreviation", "Total Votes", "Republican Candidate", 
                                "Republican Votes", "Republican Percent", "Democrat Candidate", "Democrat Votes",
                                "Democrat Percent", "Winner"]]
senate_party_df.head()

,State,State Abbreviation,Total Votes,Republican Candidate,Republican Votes,Republican Percent,Democrat Candidate,Democrat Votes,Democrat Percent,Winner
0,Arizona,AZ,2384308,Martha McSally,1135200,0.476113,Kyrsten Sinema,1191100,0.499558,democrat
1,Connecticut,CT,1386840,Matthew Corey,545717,0.393497,Christopher S Murphy,787685,0.567971,democrat
2,Delaware,DE,362592,Robert B Arlett,137127,0.378185,Thomas R Carper,217385,0.599531,democrat
3,Florida,FL,8190005,Rick Scott,4099505,0.500550,Bill Nelson,4089472,0.499325,republican
4,Hawaii,HI,388351,Ron Curtis,112035,0.288489,Mazie K. Hirono,276316,0.711511,democrat

In [21]:
# Export the cleaned data
senate_party_df.to_csv("data_clean/senate_overall_2018_clean.csv")