In [13]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [14]:
# read csv file
file_path2 = "1976-2018-house2.csv"

# create the data frame 
house_df = pd.read_csv(file_path2, encoding='iso-8859-1')
house_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Bill Davenport,democrat,False,total,58906,157170,False,20200424
1,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Jack Edwards,republican,False,total,98257,157170,False,20200424
2,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,NaN,NaN,True,total,7,157170,False,20200424
3,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,J. Carole Keahey,democrat,False,total,66288,156362,False,20200424
4,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,NaN,NaN,True,total,5,156362,False,20200424

In [15]:
# dropping # of years we do not need
house_df = house_df[house_df.year != 1976]
house_df = house_df[house_df.year != 1978]
house_df = house_df[house_df.year != 1982]
house_df = house_df[house_df.year != 1980]
house_df = house_df[house_df.year != 1984]
house_df = house_df[house_df.year != 1986]
house_df = house_df[house_df.year != 1988]
house_df = house_df[house_df.year != 1990]
house_df = house_df[house_df.year != 1994]
house_df = house_df[house_df.year != 1992]
house_df = house_df[house_df.year != 1996]
house_df = house_df[house_df.year != 2000]
house_df = house_df[house_df.year != 1998]
house_df = house_df[house_df.year != 2002]
house_df = house_df[house_df.year != 2004]
house_df = house_df[house_df.year != 2006]
house_df = house_df[house_df.year != 2008]
house_df = house_df[house_df.year != 2010]
house_df = house_df[house_df.year != 2012]
house_df = house_df[house_df.year != 2014]
house_df = house_df[house_df.year != 2018]
house_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
26816,2016,Alabama,AL,1,63,41,US House,1,gen,NaN,False,Bradley Byrne,republican,False,total,208083,215893,False,20200424
26817,2016,Alabama,AL,1,63,41,US House,1,gen,NaN,False,NaN,NaN,True,total,7810,215893,False,20200424
26818,2016,Alabama,AL,1,63,41,US House,2,gen,NaN,False,Nathan Mathis,democrat,False,total,112089,276584,False,20200424
26819,2016,Alabama,AL,1,63,41,US House,2,gen,NaN,False,NaN,NaN,True,total,29609,276584,False,20200424
26820,2016,Alabama,AL,1,63,41,US House,2,gen,NaN,False,Martha Roby,republican,False,total,134886,276584,False,20200424

In [16]:
# Drop the columns that we don't need
house_df = house_df.drop(columns=["year", "state_fips", "state_cen", "state_ic", "office", "stage", "runoff",
                                  "mode", "unofficial", "version"])
house_df.head()

,state,state_po,district,special,candidate,party,writein,candidatevotes,totalvotes
26816,Alabama,AL,1,False,Bradley Byrne,republican,False,208083,215893
26817,Alabama,AL,1,False,NaN,NaN,True,7810,215893
26818,Alabama,AL,2,False,Nathan Mathis,democrat,False,112089,276584
26819,Alabama,AL,2,False,NaN,NaN,True,29609,276584
26820,Alabama,AL,2,False,Martha Roby,republican,False,134886,276584

In [17]:
#renaming columns
house_df = house_df.rename(columns={"state": "State", "state_po": "State Abbreviation", "district": "District Number",
                                    "special": "Special Election", "candidate": "Candidate", "party": "Party",
                                    "candidatevotes": "Candidate Votes", "totalvotes": "Total Votes"})
house_df.head()

,State,State Abbreviation,District Number,Special Election,Candidate,Party,writein,Candidate Votes,Total Votes
26816,Alabama,AL,1,False,Bradley Byrne,republican,False,208083,215893
26817,Alabama,AL,1,False,NaN,NaN,True,7810,215893
26818,Alabama,AL,2,False,Nathan Mathis,democrat,False,112089,276584
26819,Alabama,AL,2,False,NaN,NaN,True,29609,276584
26820,Alabama,AL,2,False,Martha Roby,republican,False,134886,276584

In [18]:
# Create a new column with the % of the vote that the candidate received
house_df["Candidate Percent"] = house_df["Candidate Votes"] / house_df["Total Votes"]
house_df.head()

,State,State Abbreviation,District Number,Special Election,Candidate,Party,writein,Candidate Votes,Total Votes,Candidate Percent
26816,Alabama,AL,1,False,Bradley Byrne,republican,False,208083,215893,0.963825
26817,Alabama,AL,1,False,NaN,NaN,True,7810,215893,0.036175
26818,Alabama,AL,2,False,Nathan Mathis,democrat,False,112089,276584,0.405262
26819,Alabama,AL,2,False,NaN,NaN,True,29609,276584,0.107052
26820,Alabama,AL,2,False,Martha Roby,republican,False,134886,276584,0.487685

In [19]:
# change NaN values to 0
house_df.fillna(0, inplace=True)
house_df.head()

,State,State Abbreviation,District Number,Special Election,Candidate,Party,writein,Candidate Votes,Total Votes,Candidate Percent
26816,Alabama,AL,1,False,Bradley Byrne,republican,False,208083,215893,0.963825
26817,Alabama,AL,1,False,0,0,True,7810,215893,0.036175
26818,Alabama,AL,2,False,Nathan Mathis,democrat,False,112089,276584,0.405262
26819,Alabama,AL,2,False,0,0,True,29609,276584,0.107052
26820,Alabama,AL,2,False,Martha Roby,republican,False,134886,276584,0.487685

In [21]:
# Export the cleaned data tocsv
house_df.to_csv("Clean Data/house_overall_2016_clean.csv", index=False)

In [ ]:
#changing District Number to int
#house_df["District Number"] = pd.to_numeric(house_df["District Number"])

In [ ]:
#house_df['District Number'].dtypes

In [ ]:
#house_df["State Abbreviation"] = house_df["State Abbreviation"].astype("|S")

In [ ]:
#house_df['State Abbreviation'].dtypes

In [ ]:
# Create new column with unique identifier for state-district
#house_df["Congressional District"] = house_df["State Abbreviation"] + "-" + house_df["District Number"]
#house_df.head()